@model DepositViewModel

<h4>Deposit</h4>
<form asp-controller="Transactions" asp-action="Deposit" method="post">
    <input asp-for="AccountId" type="hidden"/>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description"/>
    </div>
    <div class="mb-3">
        <label asp-for="Amount"></label>
        <input asp-for="Amount"/>
    </div>
    <button type="submit" class="btn btn-primary">Deposit</button>
</form>